section.about
	div.container
		div.about__me
			div.about__head
				div.about__title
					|ABOUT Me
				div.about__line
			div.about__little
				div.little__title
					|A little brif ABOUT Me
				div.little__line
				article.little__text
					|Ultricies nisi voluptatem, illo inventore 
					|veritatis et quasi architecto beatae vitae dicta 
					|sunt explicabo nemo enim ipsam voluptatem. Sed ut 
					|perspiciatis unde omnis iste natus error sit voluptatem 
					|accusantium doloremque laudantium, totam rem aperiam, eaque 
					|ipsa quae ab illo tempor dignissim at. e vitae dicta sunt explicabo 
					|nemo enim ipsam voluptatem. ipsum dolor sit amet, consectetur 
					|adipisicing elit.
				article.little__text
					|sed do eiusmod temporincididunt ut labore et dolore magna aliqua. ab illo 
					|tempor dignissim at. e vitae dicta sunt explicabo nemo enim ipsam voluptatem.
				a(href="#" class="little__down")
					i.fa.fa-cloud-download
				a(class='little__btn' href='#') DOWNLOAD RESUME
			div.about__skills
				div.skills__title
					|skills
				div.skills__line
				article.skills__text
					|Html
				div.skills__out
					div(class="skills__in" style="width: 90%")
						div.skills__kv
							|90%
				article.skills__text
					|Css
				div.skills__out
					div(class="skills__in" style="width: 95%")
						div.skills__kv
							|95%
				article.skills__text
					|Javascript
				div.skills__out
					div(class="skills__in" style="width: 80%")
						div.skills__kv
							|80%
				article.skills__text
					|Sass
				div.skills__out
					div(class="skills__in" style="width: 87%")
						div.skills__kv
							|87%
				article.skills__text
					|Git
				div.skills__out
					div(class="skills__in" style="width: 85%")
						div.skills__kv
							|85%

section.groupOne
	div.groupOne__fon
		div.container
			div.groupOne__icons
				div.groupOne__icon
					a(href="#" class="groupOne__link")
						i(class="icon fa fa-angellist")
				div.groupOne__title
					|PIEXEL Perfect
				div.groupOne__text
					|Lorem ipsum dolor sit amet, consectetur adipisicing 
					|elit. Dolore quam, ad praesentium at! Facere eius veniam 
					|quibusdam inventore commodi quaerat non laborum officiis 
					|libero autem!
			div.groupOne__icons
				div.groupOne__icon
					a(href="#" class="groupOne__link")
						i(class="icon fa fa-tv")
				div.groupOne__title
					|Clean Front-end
				div.groupOne__text
					|Lorem ipsum dolor sit amet, consectetur adipisicing 
					|elit. Dolore quam, ad praesentium at! Facere eius veniam 
					|quibusdam inventore commodi quaerat non laborum officiis 
					|libero autem!
			div.groupOne__icons
				div.groupOne__icon
					a(href="#" class="groupOne__link")
						i(class="icon fa fa-paper-plane")
				div.groupOne__title
					|BEST ANALYICs
				div.groupOne__text
					|Lorem ipsum dolor sit amet, consectetur adipisicing 
					|elit. Dolore quam, ad praesentium at! Facere eius veniam 
					|quibusdam inventore commodi quaerat non laborum officiis 
					|libero autem!


div.work
	div.container
		div.work__title__big
			|MY WORKING AREA
		div.work__line
		div.work__top
			div.work__icons
				div.work__icon
					a(href="#" class="work__link")
						i(class="fa fa-comments")
				div.work__title
					|DISCUSSION
				div.work__text
					|Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
					|Voluptate dignissimos illum placeat repellat saepe assumenda 
					|tenetur, optio, nihil. Minus, nulla.
			div.work__icons
				div.work__icon
					a(href="#" class="work__link")
						i(class="fa fa-pencil")
				div.work__title
					|CREATING A CONCEPT
				div.work__text
					|Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
					|Voluptate dignissimos illum placeat repellat saepe assumenda 
					|tenetur, optio, nihil. Minus, nulla.
			div.work__icons
				div.work__icon
					a(href="#" class="work__link")
						i(class="fa fa-code")
				div.work__title
					|Development
				div.work__text
					|Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
					|Voluptate dignissimos illum placeat repellat saepe assumenda 
					|tenetur, optio, nihil. Minus, nulla.
			div.work__icons
				div.work__icon
					a(href="#" class="work__link")
						i(class="fa fa-heart")
				div.work__title
					|Satisfied customer
				div.work__text
					|Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
					|Voluptate dignissimos illum placeat repellat saepe assumenda 
					|tenetur, optio, nihil. Minus, nulla.
			div.work__border
				div.work__circle
					div.work__little

section.groupTwo
	div.groupTwo__fon
		div.container
			div.groupTwo__icons
				div.groupTwo__icon
					a(href="#" class="groupTwo__link")
						i(class="groupTwo__fa fa fa-github-alt")
				div.groupTwo__title
					|Plan
			div.groupTwo__icons
				div.groupTwo__icon
					a(href="#" class="groupTwo__link")
						img(src="img/ico1.png" alt="ico")
				div.groupTwo__title
					|Idea
			div.groupTwo__icons
				div.groupTwo__icon
					a(href="#" class="groupTwo__link")
						i(class="groupTwo__fa fa fa-edit")
				div.groupTwo__title
					|Sketch
			div.groupTwo__icons
				div.groupTwo__icon
					a(href="#" class="groupTwo__link")
						i(class="groupTwo__fa fa fa-tv")
				div.groupTwo__title
					|Front-end
			div.groupTwo__icons
				div.groupTwo__icon
					a(href="#" class="groupTwo__link")
						i(class="groupTwo__fa fa fa-check")
				div.groupTwo__title
					|Launch

section.portfolio
	div.container
		div.portfolio__title
			|MY PORTFOLIO
		div.portfolio__text
			|Lets check most recent project I've worked on 
		div.portfolio__line
		div.portfolio__menu
		a(href="#all" class="portfolio__btn fil-cat" data-rel="all")
			|All
		a(href="#websites" class="portfolio__btn fil-cat" data-rel="web")
			|Web
		a(href="#flyers" class="portfolio__btn fil-cat" data-rel="flyers")
			|Mobile App
		a(href="#cards" class="portfolio__btn fil-cat" data-rel="bcards")
			|Landing page
		a(href="#cards" class="portfolio__btn fil-cat" data-rel="bcards")
			|ECommarce
		div(style="clear:both;")
		div(id="portfolio")
			div(class="tile scale-anm flyers all")
				img(src="img/photo1.png" alt="photo1")
				div.portfolio__hover
					div.portfolio__rect
			div(class="tile scale-anm web all")
				img(src="img/photo2.png" alt="photo2")
				div.portfolio__hover
					div.portfolio__rect
			div(class="tile scale-anm bcards all")
				img(src="img/photo3.png" alt="photo3")
				div.portfolio__hover
					div.portfolio__rectflyers
			div(class="tile scale-anm flyers all")
				img(src="img/photo4.png" alt="photo5")
				div.portfolio__hover
					div.portfolio__rect
			div(class="tile scale-anm bcards all")
				img(src="img/photo5.png" alt="photo6")
				div.portfolio__hover
					div.portfolio__rect
			div(class="tile scale-anm web all")
				img(src="img/photo6.png" alt="photo7")
				div.portfolio__hover
					div.portfolio__rect
			div(style="clear:both;")
		div.portfolio__text
			|Interested in more details? find me on Behance, Dribble
		div.portfolio__button
			a(href="#" class="portfolio__href")
				i(class="fa fa-behance portfolio__icon")
				|Behance
			a(href="#" class="portfolio__href")
				i(class="fa fa-dribbble portfolio__icon")
				|Dribble

section.groupThree
	div.groupThree__fon
		div.container
			div.groupThree__icons
				div.groupThree__icon
					a(href="#" class="groupThree__link")
						i(class="fa fa-check-square")
				div.groupThree__count1.groupThree__text
				div.groupThree__title
					|project complate
			div.groupThree__icons
				div.groupThree__icon
					a(href="#" class="groupThree__link")
						i(class="fa fa-users")
				div.groupThree__count2.groupThree__text
				div.groupThree__title
					|HAPPY CLIENTS 
			div.groupThree__icons
				div.groupThree__icon
					a(href="#" class="groupThree__link")
						i(class="fa fa-coffee")
				div.groupThree__count3.groupThree__text
				div.groupThree__title
					|CUPS OF COFFEE
			div.groupThree__icons
				div.groupThree__icon
					a(href="#" class="groupThree__link")
						i(class="fa fa-code")
				div.groupThree__count4.groupThree__text
				div.groupThree__title
					|coding

section.clients
	div.container
		div.clients__title
			|clients feedback 
		div.clients__line
		div.clients__info
			div.owl-carousel.owl-theme
				div.item
					div.clients__img
						img(src="img/client1.png" alt="client1")
					div.clients__text
						|"Marcus is a full time Internet Marketing 
						|Analyst and Strategist. Her brain is an ocean 
						|of ideas and creativeness, and she loves 
						|expressing and sharing those ideas on her 
						|writings and artworks. Good service provider."
						div.clients__info1
							|Raihind krowt
						div.clients__info2
							|C.E.O,  Highown Tech. Ltd
				div.item
					div.clients__img
						img(src="img/client2.png" alt="client2")
					div.clients__text
						|"Marcus is a full time Internet Marketing 
						|Analyst and Strategist. Her brain is an ocean 
						|of ideas and creativeness, and she loves 
						|expressing and sharing those ideas on her 
						|writings and artworks. Good service provider."
						div.clients__info1
							|Porots Emmarn
						div.clients__info2
							|C.E.O,  Porots Emmarn
				div.item
					div.clients__img
						img(src="img/client1.png" alt="client1")
					div.clients__text
						|"Marcus is a full time Internet Marketing 
						|Analyst and Strategist. Her brain is an ocean 
						|of ideas and creativeness, and she loves 
						|expressing and sharing those ideas on her 
						|writings and artworks. Good service provider."
						div.clients__info1
							|Raihind krowt
						div.clients__info2
							|C.E.O,  Highown Tech. Ltd
				div.item
					div.clients__img
						img(src="img/client2.png" alt="client2")
					div.clients__text
						|"Marcus is a full time Internet Marketing 
						|Analyst and Strategist. Her brain is an ocean 
						|of ideas and creativeness, and she loves 
						|expressing and sharing those ideas on her 
						|writings and artworks. Good service provider."
						div.clients__info1
							|Porots Emmarn
						div.clients__info2
							|C.E.O,  Porots Emmarn
		div.prev__btn
			div(class="customNextBtn next")
				i(class="fa fa-chevron-left")
		div.prev__btn
			div(class="customPrevBtn prev")
				i(class="fa fa-chevron-right")

section.touch
	div.touch__fon
		div.container
			div.touch__out
				div.touch__title
					|GET IN TOUCH
				div.touch__line
				div.touch__form
					form(action="#" method="GET" enctype="multipart/form-data")
						div.touch__one
							a(href="#" class="touch__link")
								i(class="fa fa-user")
							input(class='touch__input' type='text' placeholder='First name' required)
							a(href="#" class="touch__link")
								i(class="fa fa-envelope")
							input(class='touch__input' type='text' placeholder='Your email' required)
							a(href="#" class="touch__link")
								i(class="fa fa-globe")
							input(class='touch__input' type='text' placeholder='Your website' required)
						div.touch__two
							textarea(cols="35" rows="6" class="touch__input__area" placeholder="Your message" required)
							input(class='touch__href' type='submit' value='send')
