div.header
	header.header__fon
		div.container
			div.header__wrap
				div.header__info
					div.open
						span.cls
						span
							ul.sub-menu
								li
									a(href='homeworks/homework_10_Nurmila_Jetimishova/index.html' target='_blank') Maket 1
								li
									a(href='homeworks/homework_11_Nurmila_Jetimishova/index.html' target='_blank') Maket 2
								li
									a(href='homeworks/homework_13_Nurmila_Jetimishova/homework/index.html' target='_blank') Maket 3
								li
									a(href='homeworks/homework_7_Nurmila_Jetimishova/index.html' target='_blank') Maket 4
						span.cls
					div.header__text
						|Hello, I'm Nurmila Zhetimishova<br>
						|Front-end developer and I think this site 
						|will show you my skills
					div.header__icons
						block content
							+getIcons('header', ['facebook', 'twitter', 'linkedin', 'camera-retro','dribbble', 'behance'])

div.loading
	div.overlay-loader
		div.loader
			div
			div
			div
			div
			div
			div
			div