<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="X-UA-Compatible" content="IE=Edge")
		title Diplom
		script(src='bower_components/jquery/dist/jquery.min.js')
		link(rel="stylesheet", href="bower_components/font-awesome/css/font-awesome.min.css")
		link(rel='stylesheet', href='bower_components/owl.carousel/dist/assets/owl.carousel.min.css')
		script(src='bower_components/owl.carousel/dist/owl.carousel.min.js')
		script(src="js/portfolio.js")
		link(rel="stylesheet", href="css/nav.css")
		link(rel="stylesheet", href="css/portfolio.css")
		link(rel="stylesheet", href="css/animate.css")
		script(src="js/viewportchecker.js")
		script(src="js/script.js")
		link(rel="stylesheet", href="css/style.css")
		link(rel="stylesheet", href="css/load.css")
	body
		include mixin/mixin
		include header/header
		include content/content
		include footer/footer
